{% extends 'base.html.twig' %}

{% block javascripts %}
    {% javascripts
        '../app/Resources/public/js/homepage.js'
        '../app/Resources/public/js/factories/cardTools.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <div ng-cloak ng-app="homepage" ng-controller="homepageController" ng-init="init({{ number | json_encode }})">

        Homepage.
        Initial number: [[ initNum ]]
        <br/>
        <div>
            Input something: <input type="text" ng-model="value">
            Value input: [[ value ]]
            <br/>
            Use: [[ use(value).suit ]] [[use(value).point]]
        </div>
    </div>
{% endblock %}

